<!-- <h1>Public#index</h1>
<p>Find me in app/views/public/index.html.erb</p> -->


<div class="center jumbotron" id="intro">
  <h2>Welcome to Simple CMS</h2>
  <p>This is my first Ruby on Rails application!</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<section id="services" class="">
	<div class="container">
		<div class="section-header">
			<h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">Yoseok Yasu, Jung</h2>
			<p class="text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
				Enthusiatic Technical Support Engineer with 3 years proven troubleshooting experience
			</p>
		</div>
		<div class="row">
			<div class="features">
				<div class="col-md-4 col-sm-6 wow fadeInUp animated padding2" data-wow-duration="300ms" data-wow-delay="0ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 0ms; animation-name: fadeInUp;">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-html5"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading"><b>Web development</b></h4>
							<p>
								HTML5, CSS3, Javascript, PHP
							</p>
						</div>
					</div>
				</div><!--/.col-md-4-->
				<div class="col-md-4 col-sm-6 wow fadeInUp animated padding2" data-wow-duration="300ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 100ms; animation-name: fadeInUp;">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-cubes"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading"><b>GUI Programming</b></h4>
							<p>
								Qt, wxWidgets
							</p>
						</div>
					</div>
				</div><!--/.col-md-4-->
				<div class="col-md-4 col-sm-6 wow fadeInUp animated padding2" data-wow-duration="300ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 200ms; animation-name: fadeInUp;">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-database"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading"><b>Database</b></h4>
							<p>
								Structured Query Language(SQL)
							</p>
						</div>
					</div>
				</div><!--/.col-md-4-->
				<div class="col-md-4 col-sm-6 wow fadeInUp animated padding2" data-wow-duration="300ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 300ms; animation-name: fadeInUp;">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-windows"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading"><b>MS Office Proficient</b></h4>
							<p>
								Word, Power Point, Access, Excel Visual Basic for Applications
							</p>
						</div>
					</div>
				</div><!--/.col-md-4-->
				<div class="col-md-4 col-sm-6 wow fadeInUp animated padding2" data-wow-duration="300ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 400ms; animation-name: fadeInUp;">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-language"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading"><b>Multi-Language</b></h4>
							<p>
								English, Korean, German
							</p>
						</div>
					</div>
				</div><!--/.col-md-4-->
				<div class="col-md-4 col-sm-6 wow fadeInUp animated padding2" data-wow-duration="300ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 500ms; animation-name: fadeInUp;">
					<div class="media service-box">
						<div class="pull-left">
							<i class="fa fa-sitemap"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading"><b>Automation</b></h4>
							<p>
								Serial Communication in C++, Autobase HMI/SCADA
							</p>
						</div>
					</div>
				</div><!--/.col-md-4-->
			</div>
		</div><!--/.row-->
	</div><!--/.container-->
</section>