<!-- <h1>Public#show</h1>
<p>Find me in app/views/public/show.html.erb</p> -->
<% @page_title = @page.name %>
<h2 class="center"><%= @page.name%></h2>

<% @page.sections.visible.sorted.each do |section| %>
	<div class="section">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<h3><%= section.name %></h3>
				<% case section.content_type %>
				<% when 'HTML' %>
					<%= raw(sanitize(section.content, :tags => ['strong', 'em', 'a', 'div', 'img', 'ul', 'li', 'p', 'span', 'i', 'h1','h2','h3','h4','table','tr','th','td'])) %>
				<% when 'text' %>
					<p><%= section.content %></p>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
